<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1> <span th:text="${avaus.avauksen_nimi}">avauksen otsikko</span>!</h1>
        
        <table width="600">
        
         <tr> 
                <td>Nimimerkki</td> 
                <td>Viesti</td> 
                <td>L&#228;hetetty</td> 
            </tr>
            <tr th:each="viesti: ${viestit}">
                <td><span th:text="${viesti.nimimerkki}">viestin lähettäjä</span></td>
                <td><span th:text="${viesti.viestin_sisalto}">viestin sisältö</span></td>
                <td><span th:text="${viesti.aikaleima}">viestin aikaleima</span></td>




            </tr>




        
       </table> 


        <form method="POST" action= "/avaus/:id" th:attr="action= ${'/avaus/' + avaus.id}" >
            Nimimerkki:
            <input type="text" name="nimimerkki"></input>
            Viesti:
            <input type="text" name="viesti"></input>
            <input type="submit" value="L&#228;het&#228;"></input>
        </form> 
        
    </body>
</html>