<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />

        <style>
         
        </style>
    </head>

    <body> 
        <h1>Hyv&#228; Foorumi</h1>


        

        <ol>

            <li th:each="alue: ${paska}">
                <span th:text="${alue.alueen_nimi}">alueen nimi</span>
                <span th:text="${alue.ketjujen_maara}">ketjujen maara</span>
                <span th:text="${alue.viimeisin_viesti}">viimesin viesti</span>
                <a th:href="${'/alue/' + alue.id}">linkki</a>


            </li>



        </ol>


        <form method="POST" action= "/">
            Lis&#228;&#228; alue:
            <input type="text" name="uusi_alue"></input>

            <input type="submit" value="L&#228;het&#228;"></input>

        </form>






    </body>
</html>